{% extends 'base.html.twig' %}

{% block title %}Liste des labels{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Liste des labels</h1>
<hr>
<div class="row pt-2">
    {% for leLabel in lesLabels %}
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="card mb-3">
            <h3 class="card-header"><a href="{{path("ficheAlbum", {"id" : leLabel.id})}}">{{leLabel.nom}}</a></h3>
            <div class="card-body">
             <a href="{{path("ficheArtiste",{'id': leLabel.artiste.id})}}" class="badge badge-success"><h5 class="card-title"> {{leLabel.artiste.nom}} </h5></a> 
            </div>
            <img class="mx-auto d-block" style="height: auto; width: 200px; display: block;" src="{{leLabel.image}}" alt="">
            <div class="card-body">
              <p class="card-text">{{leLabel.date}} </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> 
                {% for leStyle in leLabel.styles %}
                  <span class="badge" style="background-color: red;">{{leStyle.nom}}</span>
                {% endfor %}
              </li>
              {% set nb = leLabel.morceaux|length %}
              <li class="list-group-item"> {{nb}} {% if nb >1 %} morceaux {% else %} morceau {% endif %}</li>
            </ul>
          </div>
    </div>
    {% endfor %}
    <div class="navigation mx-auto">
      {{ knp_pagination_render(lesLabels) }}
  </div>
</div>
{% endblock %}
